# Ignoring virtual enviornment files.
venv/

# Ignoring configuration files.
*.cnf

# Ignoring test scripts
**/test.py

# Ignoring pyc files.
*.pyc

# Ignoring asc files.
*.asc

# Ignoring .git files.
.git/

# Ignoring results files.
results/